@import "__settings/init";

.slick-arrow {
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: opacity $default-transition;
	padding: rem(7) 0 rem(12);

	@include media(">=lg") {
		// width: rem(56);
		// height: rem(56);
	}

	&:hover {
		opacity: 0.8;
		html.touch-device & {
			opacity: 0.8;
		}
	}

	&.slick-prev {
		margin-right: rem(14);
	}

	&.slick-next {
		//
	}
}

.slick-slide:focus {
	outline: none;
}
